doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.css')
  body
    block content

    script(src='/js/dist/main.js')
